.footer {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer__icon {
    color: rgba(0, 0, 0, 0.4);
    font-size: 50px;
  }
  .footer__text {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
  }
}
