.header {
  margin-bottom: 50px;
  background-color: $red;
  .header__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 5px 0px;
    .header__column {
      i {
        color: white;
        font-size: 35px;
      }
      &:nth-child(2) {
        justify-self: center;
        width: 100%;
      }
      &:nth-child(3) {
        justify-self: end;
      }
      ul {
        display: flex;
        li:not(:last-child) {
          margin-right: 15px;
        }
        li a {
          color: white;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      form {
        width: 100%;
        input {
          padding: 10px;
          width: 100%;
          border-radius: 5px;
          font-weight: 600;
          &::placeholder {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }

  //   .header-column {
  //   }
  //   .fab.fa-youtube {
  //     color: white;
  //   }
}
